.mainContainer{
    display: flex;
  
    flex-direction: column;
}
:root {
    --secondary-color:#f2f2f7;
    --contrast-color: #BF307F;
  }
.cardContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 300px;
  
    margin-bottom: 20px;
}
.img{
    width:100%;
    height: 100%;
}
.imgContainer{
    width:30%;
 
}
.descContainer{
    width: 60%;
  
}
h2,h4,h3 ,p,a{
    margin:20px;
    color: var(--contrast-color);
}